/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Playfair Display', serif;
}

.custom-icon{
    color: bisque;
}


.fontawesome-bootstrap{
  padding-top: 5%;
   display: flex;
  justify-content: center;
  align-items: center;

}


.card-icons{
    color: #FFEBD8;
      display: flex;
      /* margin-bottom: 90%; */
      /* padding: 20px; */
    /* justify-content: center;
    position: fixed;
      bottom: 0px; */
      right: 100%;
      /* transform: translateX(-50%);  */
      text-align: center;
      /*  */

}


.text-style{
  font-weight: 500;
  margin-top: 10px;
}

.fa-gamepad{
  margin: 0px;
}

.fa-calendar{
  padding-bottom: 5%;
}


.magic-wand{
  margin-left: 300px;
  margin-top: 370px;
}

.light-bulb{
  margin-left: 400px;
  margin-top: 370px;
}

.undo-btn{
  margin-left: 330px;
  margin-top: 370px;
  }

  .icon-container{
    margin-top: 150px;
    }

.fa-gamepad{
  color: #FF8F8F
}    


.fa-3x{
  color: #FF8F8F;
}